/* ---------------- App Background ---------------- */
.stApp {
    background: linear-gradient(
        135deg,
        #ac7ffa 0%,
        #5f8ef3 50%,
        #f3f4fb 100%
    );
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}

/* ---------------- Card Style ---------------- */
.card {
    background: linear-gradient(
        135deg,
        #2705e9,
        #4207e5
    );
    border-radius: 14px;
    box-shadow: 0 12px 30px rgba(239, 240, 236, 0.45);
    padding: 28px;
    margin-bottom: 28px;
}

/* ---------------- Headings ---------------- */
h1 {
    color: #eee9ea;
    text-align: center;
    letter-spacing: 1px;
}

h2, h3 {
    color: #090909;
}

/* ---------------- Dataset Table ---------------- */
div[data-testid="stDataFrame"] {
    border-radius: 12px;
    overflow: hidden;
}

/* ---------------- Metrics ---------------- */
div[data-testid="metric-container"] {
    background: linear-gradient(
        135deg,
        #020617,
        #020617
    );
    border-radius: 12px;
    padding: 18px;
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.06);
    color: #e5e7eb;
}

/* ---------------- Plot Styling ---------------- */
svg {
    background-color: #020617;
    border-radius: 12px;
}

/* ---------------- Prediction Box ---------------- */
.prediction-box {
    background: linear-gradient(
        135deg,
         #2705e9,
        #4207e5
    );
    border-radius: 16px;
    padding: 24px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin-top: 18px;
    box-shadow: 0 8px 25px rgba(255, 0, 51, 0.45);
}

/* ---------------- Slider ---------------- */
div[data-testid="stSlider"] {
    padding-top: 10px;
}

/* ---------------- Footer Text ---------------- */
p {
    color: #cbd5f5;
}
